<!DOCTYPE html>
<html>
<head>
  <title>hello world</title>
  <script src="node_modules/angular/angular.js"></script>
  <script>
  angular.module('HelloApp', [])
    .controller('HelloController', function ($scope, $http) {
      $scope.names = ['John', 'Mary'];
      $scope.addName = function () {
        $http.get('/new/name').then(function (newName) {
          $scope.names.push(newName);
        });
      };
    });
  </script>
</head>
<body ng-app="HelloApp" ng-controller="HelloController">
  <h2>Hello</h2>
  <ul>
    <li ng-repeat="name in names track by $index">{{ name }}</li>
  </ul>
  <button ng-click="addName()">Add</button> from the server
</body>
</html>
